@use "@styles/globalType/function" as function;
@use "@styles/abtracts/mixins" as mixin;
.container {
  position: fixed;
  z-index: 3;
  top: var(--header-height);
  overflow: hidden;
  right: 0px;
  min-width: 300px;
  animation-iteration-count: 1;
  max-height: calc(100vh - 30%);
  background: var(--color-background-primary);
  border-bottom-left-radius: var(--border-radius-primary);
  border-bottom-right-radius: var(--border-radius-primary);

  animation-iteration-count: 1;
  transition: transform 0.5s ease-in-out;
  transform: translateX(100%);
  visibility: hidden 2s;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.show {
  visibility: visible;
  transition: transform 0.5s ease-in-out;
  transform: translateX(-20px);
}
.buttonItem {
  background: var(--color-border);
  border-radius: 100%;
  width: 34px;
  height: 34px;
  align-items: center;
  font-size: 18px;
  color: var(--color-text-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  i {
    @include function.textGradient;
    background: var(--color-button-secondary);
  }
}
.account {
  background: var(--color-button-tertiary);
  border: unset;
  width: 40px;
  aspect-ratio: 1/1;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  .logoImg {
    width: 100%;
    height: 100%;
    color: var(--color-text-secondary);
    background: var(--color-background-primary);
    border-radius: 100%;
    object-fit: cover;
    cursor: pointer;
  }
  .avatar {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.buttonAccount {
  background: var(--color-button-tertiary);
  border-radius: 2.625rem;
  padding: 0.5rem 20px;
  align-items: center;
  font-size: 18px;
  color: var(--color-text-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
