@use "@styles/globalType/function" as utils;
.container{
    padding: 10px;
    min-width: 30vw;
    display: flex;
    flex-direction: column;
    gap: 10px;
    .item{
        display: flex;
        flex-direction: column;
        input{
            @include utils.inputStyle;
        }
        p{
            @include utils.errorInput;
        }
    }
}