@use '@styles/globalType/function' as utils;
@import '../../variables.scss';
.container {
  @include utils.panel;
  flex-direction: column;
  padding: 10px 15px;
  .title {
    @include utils.panelTitle;
    padding: 5px 10px;
  }
  .item {
    color: var(--color-text-grey);
    margin: 7px 0px;
    .skillTextWrapper {
      display: flex;
      align-items: center;
      gap: 10px;

      label {
        min-width: 50px;
        font-size: 14px;
        font-weight: bold;
        text-transform: capitalize;
        flex-grow: 0.3;
        min-width: max-content;
        flex-basis: 0;
      }
      a {
        font-size: 13px;
        flex-basis: 0;
        flex-grow: 0.3;
        min-width: max-content;
      }
    }
  }
}
