@use '../../Style//globalType//function' as function;

.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px;
  .download {
    @include function.button;
    width: max-content;
  }
}
